<html lang="en" ng-app="store" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <style>[ng-cloak] {
        display: none;
    }</style>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body class="container" ng-controller="storeCtrl">
<ul class="list-group">
    <li class="list-group-item" ng-repeat="product in products | orderBy:price ">
        <h3>
            {{product.name}}
            <em class="pull-right">{{product.price | currency}}</em>
        </h3>
        <img class="center-block" ng-src="images/{{product.images.u[0]}}"/>
        <section ng-controller="panelCtrl">
            <ul class="nav nav-tabs">
                <li ng-class="{active : controller.isSelected(1)}"><a href ng-click="controller.selectTab(1)">Description</a>
                </li>
                <li ng-class="{active : controller.isSelected(2)}"><a href ng-click="controller.selectTab(2)">Specification</a>
                </li>
                <li ng-class="{active : controller.isSelected(3)}"><a href
                                                                      ng-click="controller.selectTab(3)">Reviews</a>
                </li>
            </ul>
            <div class="panel panel-default" ng-show="controller.isSelected(1)">
                <div class="panel-heading">
                    Description
                </div>
                <div class="panel-body">
                    {{product.description}}
                </div>
            </div>
            <div class="panel panel-default" ng-show="controller.isSelected(2)">
                <div class="panel-heading">
                    Specification
                </div>
                <div class="panel-body">
                    Not Found
                </div>
            </div>
            <div class="panel panel-default" ng-show="controller.isSelected(3)">
                <div class="panel-heading">
                    Reviews
                </div>
                <div class="panel-body">
                    <blockquote ng-repeat="review in product.reviews.u">
                        <b>Stars: {{review.stars}}</b><br/>
                        {{review.body}}<br/>
                        <cite>by: {{review.author}}</cite>
                    </blockquote>
                        <form name="reviewForm" ng-controller="reviewCtrl" ng-submit="controller.addReview(product)" novalidate="">
                            review item : {{review}}
                            <blockquote>
                                <b>Stars: {{review.stars}}</b><br/>
                                {{review.body}}<br/>
                                <cite>by: {{review.author}}</cite>
                            </blockquote>
                            <div class="form-group">
                                <select ng-model="review.stars" class="form-control" required>
                                    <option value disabled selected>Rate the product...</option>
                                    <option value="5">5 Stars</option>
                                    <option value="4">4 Stars</option>
                                    <option value="3">3 Stars</option>
                                    <option value="2">2 Stars</option>
                                    <option value="1">1 Star</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea ng-model="review.body" class="form-control"
                                          placeholder="Enter the gem review" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>by:</label>
                                <input ng-model="review.author" type="email" class="form-control" required/>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-default"/>
                        </form>
                </div>
            </div>
        </section>
    </li>
</ul>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.min.js"></script>-->
<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-resource.js"></script>-->
<!--<script src="webjars/angularjs/1.3.0/angular.min.js"></script>-->
<!--<script type="text/javascript" src="webjars/angularjs/1.3.0/angular-route.min.js"></script>-->
<!--<script src="webjars/angularjs/1.3.0/angular-resource.js"></script>-->
<!--<script src="target/scala-2.11/angularscala-jsdeps.js"></script>-->
<script src="target/scala-2.11/angularscala-fastopt.js"></script>
<!--<script src="target/scala-2.11/angularscala-jsdeps.js"></script>-->
<script src="target/scala-2.11/angularscala-launcher.js"></script>
<!--<script>App().main()</script>-->

</body>
</html>